@import url('https://fonts.googleapis.com/css?family=Roboto:900,700,500,400,300,100');
@import url('https://fonts.googleapis.com/css?family=Philosopher|Montserrat:100,300,600');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: Roboto;
  font-size: 15px;
}

nav {
  text-decoration: none;
  color: inherit;
}
div  a:not([href^="mailto"]) {
  text-decoration: none;
  color: inherit;
}


.active {
  border-bottom: 1px solid rgba(steelblue,.7);
}
